{% extends "base.html" %}

{% block title %}
Add Items
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('product') }}">
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add Items</h1>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                {{ form.name(class="form-control", id="name") }}
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                {{ form.description(class="form-control", id="description") }}
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                {{ form.price(class="form-control", id="price") }}
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                {{ form.quantity(class="form-control", id="quantity") }}
            </div>
            <div class="form-group">
                <label for="product_image">Product Image:</label>
                {{ form.product_image(class="form-control", id="product_image") }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-user btn-block">Add Product</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}