{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" action="">
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Login to MTM Shop</h1>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address:</label>
                {{ form.email(class="form-control", style="width: 250px;", placeholder="Enter your email") }}
            </div>
            <div class="form-group">
                <label for="inputPassword">Password:</label>
                {{ form.password(class="form-control", style="width: 250px;", placeholder="Enter your password") }}
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Log in</button>
        </div>
    </div>
</form>

<div class="mt-4 mb-0">
    {% if get_flashed_messages() %}
    <div class="alert alert-danger">Login or password are incorrect.</div>
    {% endif %}
</div>
{% endblock %}