{% extends "base.html" %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<form method="post" action="">
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Register in MTM Shop!</h1>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <label for="inputEmail">Adres e-mail</label>
                    {{ form.email(class="form-control", placeholder="Enter your mail address") }}
                    {% if form.email.errors %}
                    <div class="alert alert-danger">{{ form.email.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <label for="inputPassword">Hasło</label>
                            {{ form.password(class="form-control", placeholder="Enter password") }}
                            {% if form.password.errors %}
                            <div class="alert alert-danger">{{ form.password.errors[0] }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <label for="inputPasswordConfirm">Confirm password</label>
                            {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
                            {% if form.confirm_password.errors %}
                            <div class="alert alert-danger">Passwords must be the same.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}